<div class="skeleton-container">
    <div class="skeleton-article">
        <div class="skeleton-title"></div>
        <div class="skeleton-author">
            <div class="skeleton-avatar"></div>
            <div class="skeleton-author-info">
                <div class="skeleton-name"></div>
                <div class="skeleton-date"></div>
            </div>
        </div>
        <div class="skeleton-content"></div>
        <div class="skeleton-content shorter"></div>
        <div class="skeleton-content"></div>
    </div>
</div>