/* Same as medium.com styles */
a {
    color: inherit;
    text-decoration: none;
}

.not-found-container {
    text-align: center;
    display: block;
}

.not-found-title {
    margin-top: 80px;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.not-found-number {
    margin-top: 8px;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 85px;
    line-height: 88px;
    letter-spacing: -0.055em;
    font-feature-settings: "pnum", "lnum";
    color: black;
}

.not-found-number-muted {
    color: rgb(117, 117, 117);
}

.not-found-tagline {
    margin-top: 8px;
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.035em;
    font-feature-settings: "pnum", "lnum";
    color: black;
}

.not-found-text {
    margin-top: 16px;
    font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/* Link */
.not-found-link {
    text-decoration: underline;
    cursor: pointer;
}

    .not-found-link:disabled {
        cursor: not-allowed;
        color: rgb(107, 107, 107);
        fill: rgb(107, 107, 107);
    }
