<div class="container">
	<div class="title">
		Page Not Found
	</div>
	<div>
		<h2>
			<span>404</span>
		</h2>
	</div>
	<div>
		<h2>
			Out of nothing, something.
		</h2>
	</div>
	<div class="mt-2">
		You can find (just about) anything on ThoughtHub — apparently even a page that doesn’t exist. Maybe these stories will take you somewhere new?
	</div>
	<div>
		<a href="/">Home</a>
	</div>

@* 	<RecommendedArticlesGrid /> *@
</div>
