@using Microsoft.AspNetCore.Components.Authorization
@using ThoughtHub.UI.BlazorWasm.Components.Modals

<AuthorizeView>
	<Authorized>
        <header class="header-container">
            <div class="header-inner">
                <div class="header-left">
                    <button class="icon-button" aria-label="Open menu" @onclick="ToggleNavPane">
                        <i class="bi bi-list"></i>
                    </button>

                    <a href="/" class="header-logo" aria-label="Homepage">
                        <span>ThoughtHub</span>
                    </a>
                </div>

                <div class="header-search">
                    <i class="bi bi-search search-icon"></i>
                    <input type="text"
                            placeholder="Search"
                            aria-label="Search" />
                </div>

                <div class="header-actions">
                    <a href="/new-story" class="action-button">
                        <i class="bi bi-pencil-square"></i>
                        <span>Write</span>
                    </a>

                    <a href="#" class="icon-button" aria-label="Notifications">
                        <i class="bi bi-bell"></i>
                    </a>

                    <button class="avatar-button" aria-label="User menu">
                        <img src="https://miro.medium.com/v2/resize:fill:40:40/1*dmbNkD5D-u45r44go_cf0g.png"
                                alt="User avatar" />
                    </button>
                </div>
            </div>
        </header>

	</Authorized>
	<NotAuthorized>
        <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">
                <a class="navbar-brand ms-2" href="/">
                    <img src="/images/logo.svg" alt="ThoughtHub" height="30">
                </a>

                <div class="collapse navbar-collapse" id="navContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Story</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Membership</a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link"
                                    @onclick="@(() => Modal.Show<HomeModal>(new ModalParameters().Add("Mode", HomeModalMode.SignUpWrite)))">
                                Write</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link"
                                    @onclick="@(() => Modal.Show< HomeModal > (new ModalParameters().Add("Mode", HomeModalMode.SignIn)))">
                                Sign in</button>
                        </li>
                        <li class="nav-item ms-2">
                            <button class="btn btn-dark"
                                    @onclick="@(() => Modal.Show<HomeModal>(new ModalParameters().Add("Mode", HomeModalMode.SignUpGetStarted)))">
                                Get Started</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	</NotAuthorized>
</AuthorizeView>


@code
{
    [Parameter]
    public EventCallback OnNavigationPaneToggle { get; set; }

    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    private async Task ToggleNavPane()
    {
        Console.WriteLine("Navigation Pane toggled.");
        await OnNavigationPaneToggle.InvokeAsync();
    }
}