@inherits HubComponentBase
@typeparam TItem

<nav style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

     <ul role="list">
        <CascadingValue Value="this" IsFixed="true">
            @foreach (var (item, idx) in _items.Select((item, idx) => (item, idx)))
            {
                <_HubNavigationChild Item="item" />
            }
        </CascadingValue>
     </ul>
</nav>