<div class="gn o ef gg">
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Help</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Status</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" rel="noopener follow" href="" data-discover="true">
            <p class="as b gp gq ap">About</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" rel="noopener follow" href="" data-discover="true">
            <p class="as b gp gq ap">Careers</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Press</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Blog</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Privacy</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Rules</p>
        </a>
    </div>
    <div class="go y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Terms</p>
        </a>
    </div>
    <div class="y">
        <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" href="" rel="noopener follow">
            <p class="as b gp gq ap">Text to speech</p>
        </a>
    </div>
</div>