<div class="gr y">
    <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" rel="noopener follow" href="https://medium.com/MediumStaff/list/staff-picks-c7bc6e1ee00f" data-discover="true">
        <h2 class="as gd ge an gf cn">Staff Picks</h2>
    </a>
</div>

<div class="ed y">
    <div class="gs y">
        <div class="n bb">

            <!-- Header -->
            <div class="ep o p">
                <div class="ej y">
                    <div>
                        <div class="y" aria-describedby="570" aria-labelledby="570" role="tooltip">
                            <div tabindex="-1" class="bh">
                                <a href="https://medium.com/age-of-empathy" rel="noopener follow">
                                    <div class="br">
                                        <img alt="Age of Empathy" class="dg gt y el ek" width="20" height="20" loading="lazy" src="https://miro.medium.com/v2/resize:fill:25:25/1*5pKCMKNIc38QTJpXaqwIug.png">
                                        <div class="gt y ek el bs ab db de"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gu y by"><p class="as b ar an ap">In</p></div><div class="y">
                    <div>
                        <div class="y" aria-describedby="571" aria-labelledby="571" role="tooltip">
                            <div tabindex="-1" class="bh">
                                <a class="bi aq bk ct bm at bn ae au av aw ax ay gm o p" href="https://medium.com/age-of-empathy?source=home---list_module-----------------------------------------" rel="noopener follow">
                                    <p class="as b ar an bw gv gw gx gy gz ha hb cn">Age of Empathy</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hc y">
                    <p class="as b ar an ap">by</p>
                </div>
                <div>
                    <div class="y" aria-describedby="572" aria-labelledby="572" role="tooltip">
                        <div tabindex="-1" class="bh">
                            <a class="bi aq bk ct bm at bn ae au av aw ax ay gm o p" rel="noopener follow" href="https://medium.com/cindyheathwrites" data-discover="true">
                                <p class="as b ar an bw gv gw gx gy gz ha hb cn">Cindy Heath</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Article Link -->
            <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" rel="noopener follow" href="https://medium.com/age-of-empathy/the-cure-for-apathy-is-action-a-gardeners-view-of-a-warming-world-7d667aad0fa0" data-discover="true">

                <div class="ep y">
                    <h2 class="as hd ge an gf cn">
                        The Cure for Apathy Is Action: A Gardener’s View of a Warming World
                    </h2>
                </div>
                <div class="o p he">
                    <div class="hf o">
                        <button class="y bl av ae" aria-label="Member-only story">
                            <div class="">
                                <div>
                                    <div class="bg" aria-describedby="573" aria-labelledby="573" role="tooltip">
                                        <div tabindex="-1" class="bh">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 64 64">
                                                <path fill="#FFC017" d=""></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <span class="as b ar an ap">
                        <span>Nov 16</span>
                    </span>
                </div>
            </a>

        </div>
    </div>

    <div class="gs y">
        <div class="n bb">
            <div class="ep o p">
                <div class="ej y">
                    <div>
                        <div class="y" aria-describedby="574" aria-labelledby="574" role="tooltip">
                            <div tabindex="-1" class="bh">
                                <a href="https://medium.com/human-parts" rel="noopener follow">
                                    <div class="br">
                                        <img alt="Human Parts" class="dg gt y el ek" width="20" height="20" loading="lazy" src="https://miro.medium.com/v2/resize:fill:25:25/1*pfjoZOu08t9b-HHXv68ETg.png">
                                        <div class="gt y ek el bs ab db de"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gu y by">
                    <p class="as b ar an ap">In</p>
                </div>
                <div class="y">
                    <div>
                        <div class="y" aria-describedby="575" aria-labelledby="575" role="tooltip">
                            <div tabindex="-1" class="bh">
                                <a class="bi aq bk ct bm at bn ae au av aw ax ay gm o p" href="https://medium.com/human-parts" rel="noopener follow">
                                    <p class="as b ar an bw gv gw gx gy gz ha hb cn">Human Parts</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hc y">
                    <p class="as b ar an ap">by</p>
                </div>
                <div>
                    <div class="y" aria-describedby="576" aria-labelledby="576" role="tooltip">
                        <div tabindex="-1" class="bh">
                            <a class="bi aq bk ct bm at bn ae au av aw ax ay gm o p" rel="noopener follow" href="https://medium.com/kelleyjhung" data-discover="true">
                                <p class="as b ar an bw gv gw gx gy gz ha hb cn">Kelley Jhung</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" rel="noopener follow" href="https://medium.com/human-parts/bringing-my-dad-back-to-life-on-his-birthday-5f14fa9f93d1" data-discover="true">
                <div class="ep y">
                    <h2 class="as hd ge an gf cn">Bringing My Dad Back to Life on His Birthday</h2>
                </div>
                <div class="o p he">
                    <div class="hf o">
                        <button class="y bl av ae" aria-label="Member-only story">
                            <div class="">
                                <div>
                                    <div class="bg" aria-describedby="577" aria-labelledby="577" role="tooltip">
                                        <div tabindex="-1" class="bh">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 64 64">
                                                <path fill=""></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                    <span class="as b ar an ap">
                        <span>Nov 24</span>
                    </span>
                </div>
            </a>
        </div>
    </div>

    <div class="y">
        <div class="n bb">
            <div class="ep o p">
                <div class="ej y">
                    <div class="y">
                        <div>
                            <div class="y" aria-describedby="578" aria-labelledby="578" role="tooltip">
                                <div tabindex="-1" class="bh">
                                    <a tabindex="-1" rel="noopener follow" href="https://medium.com/jodygjenkins" data-discover="true">
                                        <div class="y br">
                                            <img alt="Jody Jenkins" class="y df t ek el dg" width="20" height="20" loading="lazy" src="https://miro.medium.com/v2/resize:fill:25:25/1*zV4mIHB9ZZCcRURt4bTi7w.jpeg">
                                            <div class="db t y ek el bs ab bl de"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div>
                    <div class="y" aria-describedby="579" aria-labelledby="579" role="tooltip">
                        <div tabindex="-1" class="bh">
                            <a class="bi aq bk ct bm at bn ae au av aw ax ay gm o p" rel="noopener follow" href="https://medium.com/jodygjenkins" data-discover="true">
                                <p class="as b ar an bw gv gw gx gy gz ha hb cn">Jody Jenkins</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" rel="noopener follow" href="https://medium.com/jodygjenkins/thirteen-years-illegal-dreaming-the-immigration-dream-in-trying-times-a40dfe002cc6" data-discover="true">
                <div class="ep y">
                    <h2 class="as hd ge an gf cn">Thirteen Years Illegal: Dreaming The Immigration Dream In Trying Times</h2>
                </div>
                <div class="o p he">
                    <span class="as b ar an ap">
                        <span>Dec 1</span>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>

<p class="as b ck an ap">
    <a class="bi aq bk ct bm at bn ae au av aw ax ay gm" rel="noopener follow" href="https://medium.com/MediumStaff/list/staff-picks-c7bc6e1ee00f" data-discover="true">See the full list</a>
</p>