
/* Editor header */

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    background: rgba(255, 255, 255, 0.97);
    color: rgba(0, 0, 0, 0.54);
    z-index: 500;
}

.topbar-inner {
    max-width: 1032px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topbar-left,
.topbar-right {
    display: flex;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.brand-logo {
    fill: black;
}

.draft-status {
    max-width: 275px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.84);
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
    transition: color 0.15s ease, background-color 0.15s ease;
}

    .btn:hover {
        color: rgba(0, 0, 0, 0.84);
    }

.btn-primary {
    border: 1px solid rgb(3, 168, 124);
    color: white;
    background: rgb(3, 168, 124);
    border-radius: 999px;
    padding: 0 16px;
}

    .btn-primary:hover {
        background: rgb(2, 158, 116);
    }

.btn-small {
    height: 37px;
    font-size: 15px;
}

.btn-icon {
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 25px;
    height: 25px;
    fill: currentColor;
}

.btn-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.topbar-spacer {
    height: 65px;
}


.editor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 740px;
    padding: 0 20px;
}

/* Add block button */

.block-add {
    position: relative;
    width: 150px;
    height: 10px;
    margin: 0.25rem auto;
    padding: 1rem;
    display: block;
    transition: width 0.2s ease-in-out;
}

    .block-add hr {
        margin: 0;
        border-top: 2px solid transparent;
        transition: border-color 0.2s ease-in-out;
    }

    .block-add i {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36px;
        height: 36px;
        margin: -18px 0 0 -18px;
        font-size: 28px;
        color: #e9ecef;
        background: #fff;
        border: 4px solid #fff;
        border-radius: 50%;
        transition: color 0.2s ease-in-out;
        z-index: 1000;
    }

    .block-add:hover,
    .block-add:focus-within {
        width: 100%;
        max-width: 960px;
    }

        .block-add:hover hr,
        .block-add:focus-within hr {
            border-color: #495057;
        }

        .block-add:hover i,
        .block-add:focus-within i {
            color: #495057;
        }

/* Empty editor state */

.empty-info {
    margin: 2rem auto;
    padding: 3rem;
    text-align: center;
    color: #adb5bd;
    font-size: 1.4rem;
    line-height: 2.4rem;
    border: 1px dashed #ced4da;
    border-radius: 0.25rem;
}

/* Title */

.title {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out;
}

.title:hover,
.title:focus-within {
    border-color: #ced4da;
}

    .title input:active,
    .title input:focus {
        outline: 0px;
        box-shadow: none;
    }

.title input {
    color: rgb(33, 37, 41);
    border: 0px;
    background: 0px 0px;
    /*        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
*/ font-size: 1.3rem;
    font-weight: 200;
    margin-bottom: 0px;
    overflow: hidden;
    resize: none;
    grid-area: 1 / 1 / 2 / 2;
}

/* Blocks */
.blocks > div > .block {
    margin: -1rem 0;
}

.block {
    position: relative;
    max-width: 740px;
    margin: 0 auto;
    padding: 2.75rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out;
}

    .block:hover,
    .block:focus-within {
        border-color: #ced4da;
    }

.block-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #adb5bd;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

    .block-header .title {
        float: left;
    }

        .block-header .title i {
            margin-right: 0.5rem;
            font-size: 0.875rem;
        }

.block:hover .block-header,
.block:focus-within .block-header {
    opacity: 1;
}

.block .actions {
    float: right;
    white-space: nowrap;
}

    .block .actions button {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background: #f2f2f2;
        border: none;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

        .block .actions button:hover {
            background: #ced4da;
        }

        .block .actions button.danger {
            color: #a94441;
        }

            .block .actions button.danger:hover {
                background: #a94441;
                color: #fff;
            }

.block.collapsed {
    border-color: gray;
    padding-bottom: 0;
}

    .block.collapsed > .block-header {
        opacity: 1;
    }

    .block.collapsed > .block-body {
        display: none;
    }

.block.block-full {
    max-width: none;
}

.text-block .block-body {
    display: grid;
}

    .text-block .block-body textarea {
        color: rgb(33, 37, 41);
        width: 100%;
        height: 100%;
        min-height: 1.3rem;
        border: 0px;
        background: 0px 0px;
/*        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
*/        font-size: 0.875rem;
        margin-bottom: 0px;
        overflow: hidden;
        resize: none;
        grid-area: 1 / 1 / 2 / 2;
    }

        .text-block .block-body textarea:active,
        .text-block .block-body textarea:focus {
            outline: 0px;
        }

    .text-block .block-body pre {
        white-space: pre-wrap;
        grid-area: 1 / 1 / 2 / 2;
    }

.text-block .empty:not(:focus-within) {
    background: rgb(242, 242, 242);
    height: 8rem;
}

.text-block pre {
    min-height: 1.3rem;
    height: 100%;
    font-size: 0.875rem;
    margin-bottom: 0px;
    white-space: normal;
}