@inherits HubComponentBase

<div class="border-end @ClassBuilder.Value"
    style="@StyleBuilder.Value">

    <div class="hub-navigation-pane-content">

    <ul class="list-unstyled">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door"></i> Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="lists" Match="NavLinkMatch.All">
                <i class="bi bi-bookmarks"></i> Library
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-person"></i> Profile
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="stories" Match="NavLinkMatch.All">
                <i class="bi bi-file-text"></i> Stories
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="stats" Match="NavLinkMatch.All">
                <i class="bi bi-graph-up"></i> Stats
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-people"></i> Following
            </NavLink>
        </li>
    </ul>

    </div>
</div>