@using ThoughtHub.UI.BlazorWasm.Components.HubNavigation
@inherits HubComponentBase

<div class="border-end @ClassBuilder.Value"
    style="@StyleBuilder.Value">

    <div class="hub-navigation-pane-content">

        <HubNavigation />

    </div>
</div>