
/* TODO: Explain how the animation works in some detail */

.hub-navigation-pane {
    top: 60px; /* The height of the header */
    position: sticky;
    width: 240px;
    height: calc(-57px + 100vh);
    transition: width 0.5s ease;
}

    .hub-navigation-pane .hub-navigation-pane-content {
        width: 240px;
        transition: transform 0.5s ease;
        transform: translateX(0);
    }

    .hub-navigation-pane.hub-navigation-pane-closed .hub-navigation-pane-content {
        transform: translateX(-240px);
    }

    .hub-navigation-pane.hub-navigation-pane-closed {
        width: 0px;
    }

    /* TODO: Fix RTL */
    .hub-navigation-pane.hub-navigation-pane-closed.hub-rtl {
        transform: translateX(100%);
    }

    .hub-navigation-pane.hub-rtl {
        right: 0;
        left: unset;
    }