
.breadcrumb-item + .breadcrumb-item:hover::before, .btn-link, .btn:hover, .card-link:hover, .close:hover, .dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover, .list-group-item-action:focus, .list-group-item-action:hover, .nav-link:focus, .nav-link:hover, .navbar-brand:focus, .navbar-brand:hover, .navbar-toggler:focus, .navbar-toggler:hover, .page-link:hover, a, a.badge:focus, a.badge:hover, a:not([href]), a:not([href]):hover {
    text-decoration: none;
}

dl, h1, h2, h3, h4, h5, h6, ol, p, pre, ul {
    margin-top: 0px;
}

.btn, .btn-group, .btn-group-vertical, .custom-select, .navbar-toggler-icon, img, svg {
    vertical-align: middle;
}

body, caption {
    text-align: left;
}

dd, h1, h2, h3, h4, h5, h6, label {
    margin-bottom: 0.5rem;
}

.popover, .tooltip, button, select {
    text-transform: none;
}

button, hr, input {
    overflow: visible;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

.popover, .tooltip, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    margin: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    background-color: rgb(242, 242, 242);
}

dl, ol, p, ul {
    margin-bottom: 1rem;
}

a {
    color: rgb(0, 126, 170);
    background-color: transparent;
}

    a:hover {
        color: rgb(0, 69, 94);
        text-decoration: underline;
    }

button {
    border-radius: 0px;
}

    button:focus {
        outline: dotted 1px;
    }

button, input, optgroup, select, textarea {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Simplified from: #login .card-body.card-body-logo p, #manager-preview .preview .preview-header .preview-size span, .block .block-header .title strong, .blocktype-category, .breadcrumb .badge, .card .card-header, .card .gallery-header, .gallery-header, .initialism, .sitemap-item .badge, .table .badge, .table thead th, .tiny-brand, .top .breadcrumb, div.pre-release
   Original specificity: [1, 3, 1]
   New specificity: [1, 3, 1] ✓
*/
#login .card-body.card-body-logo p, span#_sId1._s1._s1._s1, .block .block-header .title strong, .blocktype-category, .breadcrumb .badge, .card .card-header, .card .gallery-header, .gallery-header, .initialism, .sitemap-item .badge, .table .badge, .table thead th, .tiny-brand, .top .breadcrumb, div.pre-release {
    text-transform: uppercase;
}

[type="button"], [type="reset"], [type="submit"], button {
    appearance: button;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.close, .h4, h4 {
    font-size: 1.3125rem;
}

.btn, .btn-link, .dropdown-item, .form-control {
    font-weight: 400;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 2px + 0.75rem);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(206, 212, 218);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control:focus {
        color: rgb(73, 80, 87);
        background-color: rgb(255, 255, 255);
        border-color: rgb(43, 200, 255);
        outline: 0px;
        box-shadow: rgba(0, 126, 170, 0.25) 0px 0px 0px 0.2rem;
    }

    .form-control::placeholder {
        color: rgb(108, 117, 125);
        opacity: 1;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: rgb(233, 236, 239);
        opacity: 1;
    }

.btn.focus, .btn:focus, .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: rgba(0, 126, 170, 0.25) 0px 0px 0px 0.2rem;
}

.btn {
    display: inline-block;
    color: rgb(33, 37, 41);
    text-align: center;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

@media (prefers-reduced-motion: reduce) {

    .btn, .form-control {
        transition: none;
    }
}

.btn:hover {
    color: rgb(33, 37, 41);
}

.btn.focus, .btn:focus {
    outline: 0px;
}

.btn.disabled, .btn:disabled {
    opacity: 0.65;
}

.btn-block {
    display: block;
    width: 100%;
}

.input-group, .nav, .navbar {
    flex-wrap: wrap;
}

.nav {
    display: flex;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
}

.nav-tabs {
    border-bottom: 1px solid rgb(222, 226, 230);
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.badge, .close {
    line-height: 1;
}

.media-body {
    flex: 1 1 0%;
}

.close {
    float: right;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.5;
}

    .close:hover {
        color: rgb(0, 0, 0);
    }

button.close {
    padding: 0px;
    background-color: transparent;
    border: 0px;
    appearance: none;
}

.toast-body {
    padding: 0.75rem;
}

/* Simplified from: .modal-dialog-scrollable .modal-body
   Original specificity: [0, 2, 0]
   New specificity: [0, 2, 0] ✓
*/
.modal-body._s2 {
    overflow-y: auto;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    outline: 0px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid rgb(222, 226, 230);
    border-top-left-radius: calc(-1px + 0.25rem);
    border-top-right-radius: calc(-1px + 0.25rem);
}

    .modal-header .close {
        padding: 1rem;
        margin: -1rem -1rem -1rem auto;
    }

.modal-title {
    margin-bottom: 0px;
    line-height: 1.5;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal-footer > * {
    margin: 0.25rem;
}

.popover-body {
    padding: 0.5rem 0.75rem;
    color: rgb(33, 37, 41);
}

.bg-light {
    background-color: rgb(242, 242, 242) !important;
}

.border-bottom-0 {
    border-bottom: 0px !important;
}

.text-body {
    color: rgb(33, 37, 41) !important;
}

@media print {

    *, ::after, ::before {
        text-shadow: none !important;
        box-shadow: none !important;
    }

    .container, body {
        min-width: 992px !important;
    }
}


a {
    transition: text-decoration 0.15s ease-in-out, color 0.15s ease-in-out;
}

.card-body .table tbody tr {
    background: rgb(242, 242, 242);
    border-top: 2px solid rgb(255, 255, 255);
}

    .card-body .table tbody tr.unpublished {
        opacity: 0.6;
    }

.btn {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.block.collapsed > .block-body, .block.collapsed > .block-group {
    display: none;
}

.block .has-media-picker .media-picker.slide-in .card-body {
    border: 1px solid rgb(206, 212, 218);
}

.block .has-media-picker .media-picker .card-body {
    padding: 0.4rem 1rem;
    margin-right: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.html-block, .html-column-block {
    font-size: 1rem;
}

    /* Simplified from: .html-block h1, .html-block h2, .html-block h3, .html-block h4, .html-block h5, .html-column-block h1, .html-column-block h2, .html-column-block h3, .html-column-block h4, .html-column-block h5
   Original specificity: [0, 1, 1]
   New specificity: [0, 1, 1] ✓
*/
    .html-block h1, .html-block h2, .html-block h3, .html-block h4, h5._s4, .html-column-block h1, .html-column-block h2, .html-column-block h3, .html-column-block h4, h5._s4 {
        font-family: Bitter, serif;
    }

    .html-block .empty:not(:focus-within), .html-column-block .empty:not(:focus-within) {
        background: rgb(242, 242, 242) url('https://localhost:61785/manager/post/img/empty-text.png') 50% 50% no-repeat;
        height: 8rem;
    }

.text-block .block-body {
    display: grid;
}

    .text-block .block-body textarea {
        color: rgb(33, 37, 41);
        width: 100%;
        height: 100%;
        min-height: 1.3rem;
        border: 0px;
        background: 0px 0px;
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 0.875rem;
        margin-bottom: 0px;
        overflow: hidden;
        resize: none;
        grid-area: 1 / 1 / 2 / 2;
    }

        .text-block .block-body textarea:active, .text-block .block-body textarea:focus {
            outline: 0px;
        }

    .text-block .block-body pre {
        white-space: pre-wrap;
        grid-area: 1 / 1 / 2 / 2;
    }

.quote-block .blockquote .blockquote-body {
    font-family: "Open Sans", serif;
    font-size: 1.4rem;
    margin-bottom: 0px;
    color: rgb(108, 117, 125);
}

.content-block h3, .html-field h1, .html-field h2, .html-field h3, .html-field h4, h5._s4, .page-block h3, .post-block h3 {
    font-family: Bitter, serif;
}

.ingress.empty:not(:focus-within) .block-body {
    height: 100%;
}

.block.block-group-horizontal .block.html-block, .block.block-group-horizontal .block.html-column-block, .block.block-group-horizontal .block.quote-block, .block.block-group-horizontal .block.text-block {
    margin: 0px -0.5rem;
    padding: 0px 0.5rem;
}

    .block.block-group-horizontal .block.html-block .empty:not(:focus-within), .block.block-group-horizontal .block.html-column-block .empty:not(:focus-within), .block.block-group-horizontal .block.quote-block .empty:not(:focus-within), .block.block-group-horizontal .block.text-block .empty:not(:focus-within) {
        height: 100%;
        min-height: 8rem;
    }

.block.block-group-horizontal .block.image-block .block-body {
    height: 100%;
}

    .block.block-group-horizontal .block.image-block .block-body:not(.empty) img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.blocktype-category {
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 0.25rem 0px;
    margin: 0.25rem 0px;
}

.blocktype-list {
    margin: 0px -0.25rem;
}

.blocktype {
    display: inline-block;
    width: 20%;
    padding: 0.25rem;
}

    .blocktype .btn {
        background: rgb(255, 255, 255);
        padding: 0.75rem 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color 0.2s ease-in-out;
    }

        .blocktype .btn:hover {
            background-color: rgb(206, 212, 218);
        }

    .blocktype i {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .blocktype span {
        display: block;
        font-size: 0.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.form-control {
    font-weight: 300;
}