.editor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 740px;
    padding: 0 20px;
}

/* Add block button */

.block-add {
    position: relative;
    width: 150px;
    height: 10px;
    margin: 0.25rem auto;
    padding: 1rem;
    display: block;
    transition: width 0.2s ease-in-out;
}

    .block-add hr {
        margin: 0;
        border-top: 2px solid transparent;
        transition: border-color 0.2s ease-in-out;
    }

    .block-add i {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 36px;
        height: 36px;
        margin: -18px 0 0 -18px;
        font-size: 28px;
        color: #e9ecef;
        background: #fff;
        border: 4px solid #fff;
        border-radius: 50%;
        transition: color 0.2s ease-in-out;
        z-index: 1000;
    }

    .block-add:hover,
    .block-add:focus-within {
        width: 100%;
        max-width: 960px;
    }

        .block-add:hover hr,
        .block-add:focus-within hr {
            border-color: #495057;
        }

        .block-add:hover i,
        .block-add:focus-within i {
            color: #495057;
        }

/* Empty editor state */

.empty-info {
    margin: 2rem auto;
    padding: 3rem;
    text-align: center;
    color: #adb5bd;
    font-size: 1.4rem;
    line-height: 2.4rem;
    border: 1px dashed #ced4da;
    border-radius: 0.25rem;
}

/* Blocks */

.blocks > div > .block {
    margin: -1rem 0;
}

.block {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 2.75rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out;
}

    .block:hover,
    .block:focus-within {
        border-color: #ced4da;
    }

.block-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #adb5bd;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.block:hover .block-header,
.block:focus-within .block-header {
    opacity: 1;
}

.block-header .title {
    float: left;
}

    .block-header .title i {
        margin-right: 0.5rem;
        font-size: 0.875rem;
    }

.block .actions {
    float: right;
    white-space: nowrap;
}

    .block .actions button {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background: #f2f2f2;
        border: none;
        position: relative;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
    }

        .block .actions button:hover {
            background: #ced4da;
        }

        .block .actions button.danger {
            color: #a94441;
        }

            .block .actions button.danger:hover {
                background: #a94441;
                color: #fff;
            }