<div class="main-container">
	<header>
		<NavBar />
	</header>

	<main class="main-content">
		@ChildContent
	</main>
</div>

<style>
	.main-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh
	}

	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 500;
	}

	.main-content {
		flex: 1;
		margin-top: 60px;
		padding: 1rem;
	}
</style>

@code {
	[Parameter] public RenderFragment? ChildContent { get; set; }
}