<!-- Sign in Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signinModalLabel">Welcome back.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <a asp-page="/Account/Signin" class="btn btn-dark w-100 mb-2">Sign in with Email</a>
                <p class="mt-2">
                    No account?
                    <a href="#" data-bs-toggle="modal" data-bs-target="#signupModal">Create one</a>
                </p>
                <p class="mt-2">
                    Forgot email or trouble signing in?
                    <a asp-controller="Account" asp-action="Login">Get help</a>
                </p>
            </div>
        </div>
    </div>
</div>