
@* 	<RecommendedArticlesGrid /> *@

<div class="not-found-container">
	<div class="not-found-title">PAGE NOT FOUND</div>

	<div class="not-found-number">
		<span class="not-found-number-muted">404</span>
	</div>

	<h2 class="not-found-tagline">Out of nothing, something.</h2>

	<div class="not-found-text">
		You can find (just about) anything on ThoughtHub — apparently even a page that doesn’t exist. Maybe these
		stories will take you somewhere new?
	</div>

	<div class="not-found-text">
		<a class="not-found-link" href="/">Home</a>
	</div>
</div>
