@using ThoughtHub.UI.BlazorWasm.Components.Icons
<div class="fs ft fu y">
	<div class="y">
		@if (true)
		{
			<h2 class="as gd ge an gf cn">Reading list</h2>
			<div class="hl y">
				<p class="as b ck an ap">Click the <HubIcon Width="25" Height="25" Fill="none" ViewBox="0 0 25 25" Class="xd cc"/> on any story to easily add it to your reading list or a custom list that you can share.</p>
			</div>
		}
		else
		{
			<h2 class="as gd ge an gf cn">Your Reading list</h2>
			<div class="kr y">
				<div>
					<div class="y">
						<div class="n bb">
							<div class="ep o p">
								<div class="ej y">
									<div>
										<div class="y" aria-describedby="580" aria-labelledby="580" role="tooltip">
											<div tabindex="-1" class="bh">
												<a href="https://medium.com/towards-artificial-intelligence?source=home---recently_saved------0-----------------------------------" rel="noopener follow">
													<div class="br">
														<img alt="Towards AI" class="dg gt y el ek" width="20" height="20" loading="lazy" src="https://miro.medium.com/v2/resize:fill:25:25/1*JyIThO-cLjlChQLb6kSlVQ.png">
														<div class="gt y ek el bs ab db de">
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>

								<div class="gu y by"><p class="as b ar an ap">In</p></div><div class="y"><div><div class="y" aria-describedby="581" aria-labelledby="581" role="tooltip"><div tabindex="-1" class="bh"><a class="bi aq bk ct bm at bn ae au av aw ax ay gm o p" href="https://medium.com/towards-artificial-intelligence?source=home---recently_saved------0-----------------------------------" rel="noopener follow"><p class="as b ar an bw gv gw gx gy gz ha hb cn">Towards AI</p></a></div></div></div></div>

								<div class="hc y"><p class="as b ar an ap">by</p></div><div><div class="y" aria-describedby="582" aria-labelledby="582" role="tooltip"><div tabindex="-1" class="bh"><a class="bi aq bk ct bm at bn ae au av aw ax ay gm o p" rel="noopener follow" href="https://medium.com/teja.kusireddy23?source=home---recently_saved------0-----------------------------------" data-discover="true"><p class="as b ar an bw gv gw gx gy gz ha hb cn">Teja Kusireddy</p></a></div></div></div>
							</div><a class="bi aq bk ct bm at bn ae au av aw ax ay az ba" rel="noopener follow" href="https://medium.com/towards-artificial-intelligence/i-reverse-engineered-200-ai-startups-73-are-lying-a8610acab0d3?source=home---recently_saved------0-----------------------------------" data-discover="true">
								<div class="ep y"><h2 class="as hd ge an gf cn">The Real Tech Stack Behind AI Startups: A 200-Company Analysis</h2></div><div class="o p he">
									<div class="hf o"><button class="y bl av ae" aria-label="Member-only story"><div class=""><div><div class="bg" aria-describedby="583" aria-labelledby="583" role="tooltip"><div tabindex="-1" class="bh"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 64 64"><path fill="#FFC017" d="m39.637 40.831-5.771 15.871a1.99 1.99 0 0 1-3.732 0l-5.771-15.87a2.02 2.02 0 0 0-1.194-1.195L7.298 33.866a1.99 1.99 0 0 1 0-3.732l15.87-5.771a2.02 2.02 0 0 0 1.195-1.194l5.771-15.871a1.99 1.99 0 0 1 3.732 0l5.771 15.87a2.02 2.02 0 0 0 1.194 1.195l15.871 5.771a1.99 1.99 0 0 1 0 3.732l-15.87 5.771a2.02 2.02 0 0 0-1.195 1.194"></path></svg></div></div></div></div></button></div>
									<span class="as b ar an ap"><span>Nov 4</span></span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="hm y">
				<p class="as b ck an ap"><a class="bi aq bk ct bm at bn ae au av aw ax ay gm" rel="noopener follow" href="https://medium.com/mhd.altahan.social/list/reading-list" data-discover="true">See all (1)</a></p>
			</div>
		}
	</div>
</div>