<div class="inherited-context">
    <div class="ew ex i ey ez fa l fb fc fd k fe ff fg fh fi fj fk di fl fm df c fn fo">
        <div class="bb n bg br">
            <div class="y z fp" style="top: 57px; position: sticky; margin-top: 0px;">
                <div class="fq o fr" style="min-height: calc(-57px + 100vh);">
                    <div class="y bf">

                        <div class="fs ft fu y">
                            <StaffPicks />
                        </div>

                        <div class="y">
                            <div class="fs ft fu y">
                            </div>

                            <RecommendedTopics />

                            <WhoToFollow />

                            <YourReadingList />

                        </div>
                    </div>

                    <MiniFooter />
                </div>
            </div>
        </div>
    </div>
</div>

<style>
                    /* ========================================

 * Inherited styles from parent elements

 * These styles are wrapped in .inherited-context

 * ======================================== */

.inherited-context {
    text-rendering: optimizelegibility;
    color: rgba(0, 0, 0, 0.8);
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}



html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    text-rendering: optimizelegibility;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, dl, dd, ol, ul, menu, figure, blockquote, p, pre, form {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

img, svg {
    vertical-align: middle;
}

button {
    background: transparent;
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0px;
}

:root {
    --reach-tabs: 1;
    --reach-menu-button: 1;
}

.b {
    font-weight: 400;
}

.c {
    background-color: rgb(255, 255, 255);
}

.n {
    width: 100%;
}

.o {
    display: flex;
}

.p {
    align-items: center;
}

.q {
    justify-content: center;
}

.t {
    border-radius: 50%;
}

.y {
    display: block;
}

.z {
    position: sticky;
}

.ab {
    top: 0px;
}

.ae {
    padding: 0px;
}

.an {
    line-height: 20px;
}

.ao {
    margin-left: 8px;
}

.ap {
    color: rgb(107, 107, 107);
}

.aq {
    fill: inherit;
}

.ar {
    font-size: 13px;
}

.as {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.at {
    letter-spacing: inherit;
}

.au {
    margin: 0px;
}

.av {
    cursor: pointer;
}

.aw:disabled {
    cursor: not-allowed;
}

.ax:disabled {
    color: rgb(107, 107, 107);
}

.ay:disabled {
    fill: rgb(107, 107, 107);
}

.bb {
    height: 100%;
}

.bf {
    flex: 1 0 auto;
}

.bg {
    display: inline-block;
}

.bh {
    outline: none;
}

.bi {
    color: inherit;
}

.bk {
    font-size: inherit;
}

.bl {
    border: medium;
}

.bm {
    font-family: inherit;
}

.bn {
    font-weight: inherit;
}

.br {
    position: relative;
}

.bs {
    position: absolute;
}

.bw {
    overflow: hidden;
}

.by {
    white-space: nowrap;
}

.ck {
    font-size: 14px;
}

.cn {
    color: rgb(36, 36, 36);
}

.ct {
    border: inherit;
}

.db {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;
}

.dc {
    height: 32px;
}

.dd {
    width: 32px;
}

.df {
    box-sizing: border-box;
}

.dg {
    background-color: rgb(242, 242, 242);
}

.ed {
    margin-bottom: 16px;
}

.ee {
    align-items: flex-start;
}

.ef {
    flex-direction: row;
}

.eg {
    justify-content: space-between;
}

.ej {
    margin-right: 8px;
}

.ek {
    height: 20px;
}

.el {
    width: 20px;
}

.ep {
    margin-bottom: 12px;
}

.ew {
    padding-right: 24px;
}

.fn {
    border-left: 1px solid rgb(242, 242, 242);
}

.fo {
    min-height: 100vh;
}

.fp {
    top: 57px;
}

.fq {
    min-height: calc(-57px + 100vh);
}

.fr {
    flex-direction: column;
}

.fs {
    padding-bottom: 0px;
}

.ft {
    border-bottom: medium;
}

.fu {
    margin-top: 40px;
}

.gc {
    padding-bottom: 24px;
}

.gd {
    font-weight: 500;
}

.ge {
    font-size: 16px;
}

.gf {
    letter-spacing: 0px;
}

.gg {
    flex-wrap: wrap;
}

.gh {
    border-radius: 100px;
}

.gi {
    margin-bottom: 10px;
}

.gl {
    margin-top: 6px;
}

.gn {
    padding: 24px 0px;
}

.go {
    margin-right: 6px;
}

.gp {
    font-size: 11px;
}

.gq {
    line-height: 16px;
}

.gr {
    margin-bottom: 24px;
}

.gs {
    padding-bottom: 20px;
}

.gt {
    border-radius: 2px;
}

.gu {
    padding-right: 4px;
}

.gv {
    max-height: 20px;
}

.gw {
    text-overflow: ellipsis;
}

.gx {
    display: -webkit-box;
}

.gy {
    -webkit-line-clamp: 1;
}

.gz {
    -moz-box-orient: vertical;
}

.ha {
    word-break: break-all;
}

.hc {
    padding: 0px 4px;
}

.hd {
    font-weight: 700;
}

.he {
    gap: 16px;
}

.hf {
    box-sizing: content-box;
}

.hm {
    padding-top: 16px;
}

.hx {
    padding-bottom: 16px;
}

.jo {
    padding: 8px 16px;
}

.kf {
    border: 1px solid rgb(242, 242, 242);
}

.kg {
    transition: background 300ms;
}

.ki {
    min-width: 102px;
}

.kj {
    text-align: -moz-right;
}

.kl {
    max-height: 40px;
}

.km {
    -webkit-line-clamp: 2;
}

.kn {
    word-break: break-word;
}

.ko {
    margin-top: 4px;
}

.kp {
    margin-bottom: 8px;
}

.kq {
    margin-top: 2px;
}

.kr {
    padding-top: 24px;
}

.oc {
    background: 0px center;
}

.oe {
    border-radius: 24px;
}

.of {
    width: 66px;
}

.og {
    padding: 6px 12px;
}

.oh {
    word-break: keep-all;
}

.de:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.gm:hover {
    text-decoration: underline;
}

.kh:hover {
    background-color: rgb(242, 242, 242);
}

.di {
    display: block;
}

.fk {
    padding-left: clamp(24px, -1056px + 100vw, 40px);
}

.fl {
    min-width: 368px;
}

.fm {
    max-width: 368px;
}

/*.i {
    display: none;
}*/

.ex {
    padding-left: 24px;
}

.ey {
    min-width: 352px;
}

.ez {
    max-width: 352px;
}

.fg {
    padding-left: 24px;
}

.fh {
    display: block;
}

.fi {
    min-width: 352px;
}

.fj {
    max-width: 352px;
}

/*.k {
    display: none;
}*/

.fd {
    padding-left: 24px;
}

.fe {
    min-width: 352px;
}

.ff {
    max-width: 352px;
}

/*.l {
    display: none;
}*/

.fa {
    padding-left: 24px;
}

.fb {
    min-width: 352px;
}

.fc {
    max-width: 352px;
}

.hb {
    max-height: none;
}
</style>