@using ThoughtHub.Api.Models.Blocks

<div class="block-body @(IsEmpty ? "empty" : "")">
    <pre class="invisible" @onclick="FocusTextArea">
        @(Model.Body.Value)
    </pre>

    <textarea
        @bind="Model.Body.Value"
        @bind:event="oninput"
        @onblur="OnBlur"></textarea>
</div>

@code
{
    private bool IsEmpty => string.IsNullOrWhiteSpace("");

    [Parameter]
    public TextBlockModel Model { get; set; }

    private async Task OnBlur(FocusEventArgs args)
    {
        
    }

    private void FocusTextArea() { }
}