.text-block .block-body {
    display: grid;
}

    .text-block .block-body textarea {
        color: rgb(33, 37, 41);
        width: 100%;
        height: 100%;
        min-height: 1.3rem;
        border: 0px;
        background: 0px 0px;
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 0.875rem;
        margin-bottom: 0px;
        overflow: hidden;
        resize: none;
        grid-area: 1 / 1 / 2 / 2;
    }

        .text-block .block-body textarea:active, .text-block .block-body textarea:focus {
            outline: 0px;
        }

    .text-block .block-body pre {
        white-space: pre-wrap;
        grid-area: 1 / 1 / 2 / 2;
    }

.text-block .empty:not(:focus-within) {
    background: rgb(242, 242, 242) url('https://localhost:61785/manager/post/img/empty-text.png') 50% 50% no-repeat;
    height: 8rem;
}

.text-block pre {
    min-height: 1.3rem;
    height: 100%;
    font-size: 0.875rem;
    margin-bottom: 0px;
    white-space: normal;
}