@* @inject Blazored.Modal.Services.BlazoredModalInstance ModalInstance
 *@
<div tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close ms-auto" aria-label="Close" @onclick="Close"></button>
            </div>

            @switch (Mode)
            {
                case HomeModalMode.SignIn:
                    <SigninControls OnSwitchMode="SwitchMode" />
                    break;
                case HomeModalMode.SignUpGetStarted:
                    <SignupControls Label="Join Medium." OnSwitchMode="SwitchMode" />
                    break;
                case HomeModalMode.SignUpWrite:
                    <SignupControls Label="Create an account to start writing." OnSwitchMode="SwitchMode" />
                    break;
                case HomeModalMode.SignInEmail:
                    <SigninEmailControls OnSwitchMode="SwitchMode" />
                    break;
                case HomeModalMode.SignupEmail:
                    <SignupEmailControls OnSwitchMode="SwitchMode" />
                    break;
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Type { get; set; } = "signin";

    // [CascadingParameter]
    // public IModalService ModalService { get; set; } = default!;

    [CascadingParameter]
    public BlazoredModalInstance ModalInstance { get; set; } = default!;

    [Parameter]
    public HomeModalMode Mode { get; set; } = HomeModalMode.SignIn;

    private void SwitchMode(HomeModalMode newMode)
    {
        Mode = newMode;    
    }

    private async Task Close()
    {
        await ModalInstance.CloseAsync();
    }
}
