.blocktype-category {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.25rem 0;
    margin: 0.75rem 0 0.25rem;
}

.blocktype-list {
    margin: 0 -0.25rem;
}

.blocktype {
    display: inline-block;
    width: 20%;
    padding: 0.25rem;
}

    .blocktype .btn {
        width: 100%;
        background-color: #fff;
        padding: 0.75rem 0;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: background-color 0.2s ease-in-out;
    }

        .blocktype .btn:hover {
            background-color: #ced4da;
        }

    .blocktype i {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .blocktype span {
        display: block;
        font-size: 0.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
