@using ThoughtHub.UI.BlazorWasm.Components.Framework
@using ThoughtHub.UI.BlazorWasm.Components.Layout
@inherits LayoutComponentBase

@code {
	/// <summary>
	/// This field connects the Header with the NavigationPane, so that
	/// the pane can be displayed or hid using a button in the header.
	/// 
	/// Open is used for smaller displays, where the pane is displayed over the other elements.
	/// </summary>
	private bool _isNavigationPaneOpen;

	// Toggle is used for desktop, where the pane takes space.
	private bool _isNavigationPaneToggled;

	private readonly List<HubNavigationItem> _navItems =
	[
		new() { Text = "Home" , Url = "/", IconName = "house-door" },
		new() { Text = "Library" , Url = "#", IconName = "bookmarks" },
		new() { Text = "Profile" , Url = "", IconName = "person" },
		new() { Text = "Stories" , Url = "#", IconName = "file-text" },
		new() { Text = "Stats" , Url = "#", IconName = "graph-up" },
		new() { IsSeparator = true },
		new() { Text = "Following" , Url = "#", IconName = "people" },
	];
}

<HubLayout StickyHeader=true>
	<Header>
		<HubHeader OnNavigationPaneToggle="() => _isNavigationPaneOpen = !_isNavigationPaneOpen"/>
	</Header>
	<NavigationPane>
		<HubNavigationPane @bind-IsOpen="_isNavigationPaneOpen" Items="_navItems"/>
	</NavigationPane>

	<Main>
		@Body
	</Main>
</HubLayout>