@using ThoughtHub.Api.Models.Content
@using ThoughtHub.UI.BlazorWasm.Components.Icons

<span class="article-meta-text">
    <div class="article-meta-row">

        <MetaBarLeft Article="Article"/>

        @* Right section *@
        <div class="o p ne nf">

            <div class="tooltip-wrapper">
                <div tabindex="-1" class="focus-reset">
                    <button
                        class="meta-action-button"
                        aria-label="Show less like this">
                        <LessIcon />
                    </button>
                </div>
            </div>

            
            <div class="i l k j e">
                <div>
                    <div class="bg" aria-describedby="84" aria-labelledby="84" role="tooltip">
                        <div tabindex="-1" class="bh">
                            <div class="bg">
                                <button aria-controls="addToCatalogBookmarkButton" aria-expanded="false" aria-label="Add to list bookmark button" class="bi bj bk ct bm at bn ni au av aw bo nj nk io">

                                    <AddToListIcon />

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="meta-options-wrapper">
                <div class="tooltip-wrapper" aria-describedby="203" aria-labelledby="203" role="tooltip">
                    <div tabindex="-1" class="focus-reset">
                        <button class="meta-action-button meta-action-button--options"
                                aria-label="More options">
                            <OptionsIcon />
                        </button>
                    </div>
                </div>
            </div>


        </div>

    </div>
</span>

@code {
    [Parameter]
    public ArticleDigestModel Article { get; set; }
}