<div class="featured-empty">
    <div class="featured-heading">
        <h2>No featured stories</h2>
    </div>

    <div class="featured-subheading">
        <h3>Featured stories from the publications you follow will appear here.</h3>
    </div>

    <p class="featured-link">
        <a href="">
            View recommended publications
        </a>
    </p>
</div>
