@using System.Text.Json
@using ThoughtHub.UI.BlazorWasm.Infrastructure

<!-- Feed controls -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <button class="btn btn-sm btn-outline-secondary active">For you</button>
        <button class="btn btn-sm btn-outline-secondary ms-1">Featured</button>
    </div>
</div>

<InfiniteScroll ItemsProvider="GetItems">
    <ItemTemplate Context="item">
        <ArticleCard Article="item" />
    </ItemTemplate>
    <LoadingTemplate>
        <div>Loading...</div>
    </LoadingTemplate>
</InfiniteScroll>

@code {
    private List<ArticleModel> Articles = new();

    [Inject]
    public IHttpClientFactory ClientFactory { get; set; }

    private HttpClient httpClient;

    protected override async Task OnInitializedAsync()
    {
        httpClient = ClientFactory.CreateClient("Auth");
    }

    async Task<IEnumerable<ArticleModel>> GetItems(ItemsRequest request)
    {
        int pageSize = 5;

        JsonSerializerOptions options = new() { PropertyNameCaseInsensitive = true };

        var fetchedArticles = await httpClient.GetFromJsonAsync<ArticlesWrapper>($"/articles?limit={pageSize}&offset={request.StartIndex}", options);

        return fetchedArticles.Articles;
    }

    public class ArticlesWrapper
    {
        public List<ArticleModel> Articles { get; set; } = new();
        public int ArticlesCount { get; set; }
    }
}