@using ThoughtHub.UI.BlazorWasm.Components.FeedRightSection
@inject IJSRuntime JS

<div class="feed-container">
        <div class="feed-list">
            <FeedList />
        </div>

        <HubStickyBar>
            <RightFeedSection />
        </HubStickyBar>
</div>