@using ThoughtHub.UI.BlazorWasm.Components.FeedRightSection
@inject IJSRuntime JS

<div class="feed-container mt-3">
        <div class="article-list">
            <FeedList />
        </div>

        <HubStickyBar>
            <RightFeedSection />
        </HubStickyBar>
</div>

<style>
    .feed-container {
        display: flex;
        gap: 40px;
        align-items: flex-start; /* Ensures sidebar doesn't stretch */
    }
</style>