<div class="card p-3 mb-3 sidebar-card">
    <h6 class="mb-2">Recomended topics</h6>
    <div class="d-flex flex-wrap">
        <button class="btn btn-sm btn-light m-1">Tech</button>
        <button class="btn btn-sm btn-light m-1">Productivity</button>
        <button class="btn btn-sm btn-light m-1">Design</button>
        <button class="btn btn-sm btn-light m-1">Business</button>
        <button class="btn btn-sm btn-light m-1">Self</button>
    </div>
</div>