.hub-tab-item {
    padding-bottom: 16px;
    margin-right: 16px;
    border-bottom: 1px solid transparent;
}

.hub-tab-item-selected {
    border-bottom-color: #242424;
}

    .hub-tab-item-selected .hub-tab-button {
        color: #242424;
    }

.hub-tab-item .hub-tab-button:hover {
    color: #000 !important;
}

.hub-tab-button {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 6px;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: #6b6b6b;
}

.hub-tab-link {
    display: inline-block;
}